@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Reenie+Beanie&family=Rubik+Moonrocks&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 960px;
    background-color: #EAEAEA;
    font-family: Inter;
    font-style: normal;
    line-height: normal;

}

main{
    width: 674px;
    height: 754px;
    margin: 103px 383px;
    padding: 75px 84px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 0.82px solid #B3B3B3;
    box-shadow: 0px 19px 42px 0px #0000001A, 0px 76px 76px 0px #00000017, 0px 170px 102px 0px #0000000D, 0px 303px 121px 0px #00000003, 1px 474px 133px 0px #00000000; 
    display: grid;
    justify-content: center;
    gap: 50px;
    
    
}

.main_title{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    line-height: 48px;
    
}
.subtitle{
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
line-height: 24.2px;
}


.email input{
    width: 500.61px;
    height: 89.16px;
    border-radius: 50px;
    background: #FAFAFA;
border: 1px solid #B3B3B3;
padding-left: 80px;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #111111;
position: relative;
}

.email input::placeholder{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #111111;
}

.image_1{
    position: absolute;
    left: 505px;
    top: 340px;
}

.image_2{
    position: absolute;
    right: 580px;
    top: 337px;
}

.password_label{
display: flex;
font-size: 20px;
font-weight: 400;
line-height: 24px;
gap: 250px;
margin-bottom: 10px;
}

.forgot_password{
color:#72BF01;
}

.password{
    position: relative;
}

.password img{
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.password input{
    width: 500.61px;
    height: 89.16px;
    border-radius: 8.18px;
    border: 1px solid #B3B3B3;
    background:rgba(114, 191, 1, 0.3);
    
}

.password input::placeholder{
    font-size: 50px;
font-weight: 1000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #111111;
padding-left: 20px;
}

.sign_in button{
margin-top: 30px;
width: 500px;
height: 89.16px;
border-radius: 8.18px;
background: #BFF202;
font-size: 20px;
font-weight: 600;
line-height: 24px;
border: none;
color: #00312D;
;

}

.another_method{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    gap: 5px;
    color: #226BF7;
}


/* Media Queries for Responsiveness */

@media only screen and (max-width: 768px), screen and (max-width: 1024px){
    
    body{
        width: auto;
        height: auto;
    }
    main{
        width: auto;
        height: auto;
        margin: 0;
    }
}

@media screen and (max-width: 480px), screen and (max-width: 600px){
    body{
        width: auto;
        height: auto;
    }

    main{
        width: auto;
        height: auto;
        margin: 0;
    }
    }